header{
   
    /* height: 100%;  */
    background-color:#1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.line{
    width: 100px;
    height: 3px;
   background-color: #fff;
}
.icon{
    display: flex;
    justify-content: center;
}
.col{
    color: #fff;
}